# Variáveis do Banco de Dados
DB_USERNAME=meu_usuario_caixa
DB_PASSWORD=senha_secreta_123
DB_DATABASE=cashflow_db


DB_HOST=caixa_db_service 
DB_PORT=5432

# Variáveis da API
API_PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=senha_secreta_123


VITE_API_BASE_URL=http://localhost:3000/api 