# Ignorar pastas de dependências
node_modules

# Ignorar logs e caches
npm-debug.log*
yarn-error.log
.yarn-integrity
.npm

# Ignorar pastas de build (saída de compilação)
/backend/dist
/frontend/dist
/frontend/build # Se você usou create-react-app

# Ignorar configurações do editor/OS
.idea/
.vscode/
*.swp
.DS_Store

# Ignorar arquivos de ambiente local (que contêm senhas)
*.env
.env.local

# Ignorar arquivos e pastas gerados pelo Docker
# O .dockerignore já deve fazer isso no build, mas é bom ter no gitignore
/backend/node_modules
/frontend/node_modules